.sales_interface
    table
        tbody
            tr
                td
                    &:first-child
                        width: 2.5%
                    &:nth-child(2)
                        width: 2.5%
                    &:nth-child(3)
                        width: 75%
                    &:nth-child(4)
                        width: 10%
                    &:nth-child(5)
                        width: 5%
                    &:nth-child(6)
                        width: 2.5%
                    &:last-child
                        width: 2.5%

.charts_interface
    svg
        transform: rotate(-90deg)
    .h2
        color: $text_color

.we_recommend
    > a
        img
            transition: transform .2s
        &:hover
            img
                transform: scale(1.05)