doctype html
html
    include ../partials/head.pug
    body
        include ../partials/header.pug
        main.container-fluid.nice_padding
            .h2.nice_title.w-100.mb-5 Categories
            
        include ../partials/footer.pug
        include ../partials/scripts.pug