doctype html
html
    include ../partials/head.pug
    body
        include ../partials/header.pug
        main.container-fluid.nice_padding
            .h2.nice_title.w-100.mb-5 Charts
            section.row.align-items-center.justify-content-around.mb-4.charts_interface
                - var n = 20
                while n < 24
                    .col-md-2.col-6.text-center
                        svg(width='150' height='150' viewbox='0 0 100 100')
                            circle(cx='50' cy='50' r='40' stroke='#ebebeb' stroke-width='5' fill='none')
                            circle(cx='50' cy='50' r='40' stroke='#df691a' stroke-width='5' fill='none' stroke-dasharray='251.327' stroke-dashoffset='70')
                            text(x='42' y='55' fill='#ebebeb' transform='rotate(90 50 50)')= n++
                        .h2 Date
            .h2.nice_title.w-100.mb-4 Sales
            form.row.mx-auto.sales_interface
                table.table.mb-5.col-md-12.col-12.nice_table.table_col_width_fix
                    thead
                        tr
                            - var check = '<div class="nice_checkbox"></div>'
                            each val, index in ['#', check, 'Product', 'Category', 'Price', '', '']
                                th!= val
                    tbody
                        each val in [1, 2, 3, 4, 5]
                            tr= null
                                - var check = '<input hidden id="product' + val + '" name="" type="checkbox"><label class="nice_checkbox" for="product' + val + '"><div>&#10003;</div></label>'
                                - var edit = '<i class="fas fa-pencil-alt"></i>'
                                - var trash = '<i class="fa fa-trash" aria-hidden="true"></i>'
                                - var list = ['4', check, 'TV', 'Electronics', '1200$', edit, trash]
                                each val, index in list
                                    td!= val
            .h2.nice_title.w-100.mb-4 We Recommend
            section.row.align-items-center.justify-content-between.mb-5.we_recommend
                - for(var n = 1; n < 4; n++)
                    a(href='#').col-md-4.mb-3.order-1.order-md-1
                        img(src='../img/' + n + '.jpg' data-rjs="2").img.rounded.img-fluid

        include ../partials/footer.pug
        include ../partials/scripts.pug