header
    .fa-bell, .fa-user
        color: $text_color
        font-size: .8em
    .navbar
        padding-top: 0 !important
        padding-bottom: 0 !important
        .nav-link
            padding-top: 1rem
            padding-bottom: 1rem
    .active
        background-color: #485563