@media(max-width:576px)
    table
        font-size: 1.2vh
    section, form
        overflow: scroll
    .chart_wrapper
        .nice_charts
            width: 4em
            height: 4em
            border-width: .3em
                