@media(max-width:576px)
    .nice_padding
        padding-left: 1em
        padding-right: 1em
    table
        font-size: 2vh
    .chart_wrapper
        .nice_charts
            width: 4em
            height: 4em
            border-width: .3em
        &:nth-child(even)
            .nice_charts
                margin-right: 0 !important
        &:nth-child(odd)
            .nice_charts
                margin-left: 0 !important
    