$light_color: #4e5d6c
$dark_color: #2b3e50
$text_color: #ebebeb
    
.bg-custom-light
    background-color: $light_color

.bg-custom-dark
    background-color: $dark_color

.nice_title
    color: $text_color
    border-bottom: 2px $light_color solid
    padding-bottom: .5em

.nice_charts
    color: $text_color
    font-size: 1.5em
    border-radius: 50%
    border: 10px $text_color solid
    width: 5em
    height: 5em
    box-sizing: border-box
    display: flex
    align-items: center
    justify-content: center

.nice_table
    color: $text_color
    tbody
        tr
            &:nth-child(odd)
                background-color: $light_color

.nice_padding
    padding-left: 6em
    padding-right: 6em