$light_color: #4e5d6c
$dark_color: #2b3e50
$text_color: #ebebeb
$link_color: #df691a
    
.bg-custom-light
    background-color: $light_color

.bg-custom-dark
    background-color: $dark_color

.nice_title
    color: $text_color
    border-bottom: 2px $light_color solid
    padding-bottom: .5em

.nice_table
    color: $text_color
    tbody
        tr
            &:nth-child(odd)
                background-color: $light_color
            td
                border: 0
                vertical-align: middle
                label
                    margin-bottom: 0
                    transform: translateY(.15em)
                input[type='checkbox']
                    &:checked
                        + .nice_checkbox
                            div
                                color: $text_color
    thead
        tr
            th
                border: 0
                vertical-align: middle
                .nice_checkbox
                    cursor: default
                a
                    color: $text_color
                    text-decoration: none
                    display: inline-block
                    width: 100%
                    height: 100%
                    transition: color .2s
                    &:hover
                        color: $link_color

.nice_padding
    padding-left: 7%
    padding-right: 7%

.nice_recommend_img
    height: 400px
    width: auto

.nice_link
    a
        color: $link_color
        text-decoration: none
    &:hover
        a
            filter: brightness(150%)

.nice_checkbox
    border: 2px $text_color solid
    cursor: pointer
    position: relative
    width: 1em
    height: 1em
    div
        position: absolute
        top: -.5em
        left: 0
        color: transparent
        font-weight: bold
        user-select: none
    &:hover
        box-shadow: inset 0 0 3px $text_color