header.mb-5
  nav.navbar.navbar-expand-sm.navbar-dark.bg-custom-light.nice_padding
    button.navbar-toggler(type="button" data-toggle="collapse" data-target="#header_nav" aria-controls="header_nav" aria-expanded="false" aria-label="Toggle navigation")
      span.navbar-toggler-icon
    #header_nav.collapse.navbar-collapse
      ul.navbar-nav.align-items-center
        li.nav-item.mr-2
          a.nav-link(href="store.html") Store
        li.nav-item
          a.nav-link(href="index.html") Dashboard
        li.nav-item
          a.nav-link(href="products.html") Products
        li.nav-item
          a.nav-link(href="categories.html") Categories
        li.nav-item
          a.nav-link(href="users.html") Users
      ul.navbar-nav.ml-auto
        li.nav-item.dropdown.mr-5
          i.fa.fa-bell.dropdown-toggle(aria-hidden='true' data-toggle='dropdown')
          .dropdown-menu
            a.dropdown-item(href='#') Link 1
            a.dropdown-item(href='#') Link 2
            a.dropdown-item(href='#') Link 3
        li.nav-item.dropdown
          i.fa.fa-user.dropdown-toggle(aria-hidden='true' data-toggle='dropdown')
          .dropdown-menu
            a.dropdown-item(href='#') Link 1
            a.dropdown-item(href='#') Link 2
            a.dropdown-item(href='#') Link 3